.blog-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F0F0F0;
  gap: 50px;
  margin-top:91px;
}

.blog-content {
  max-width: 600px;
  margin-top:74px;
  margin-left:28px;
  text-align: left;
}

.blog-content h1 {
  font-size: 50px;
  margin-bottom: 60px;
 font-family: 'Aeonik TRIAL';
}

.blog-content h3 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 27px;
  line-height: 1.5;
  color: #333;
}

.continue-link {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.read-more-btn {
  margin-top: 20px;
  padding: 19px 21px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 30px;
}

.read-more-btn:hover {
  background-color: #eaeaea;
}

.blog-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.blog-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .blog-section {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .blog-content {
    max-width: 100%;
  }

  .blog-image img {
    max-width: 100%;
  }
}
/* Mobile view - 375px */
@media (max-width: 480px) {
    .blog-section {
        display: flex;
        flex-direction: column;
    }
    .blog-content {
        margin-top:24px;
        margin-left:28px;
        text-align: left;
}
    .blog-content h1 {
  font-size: 27px;
  margin-bottom: 20px;
 font-family: 'Aeonik TRIAL';
}
.blog-content h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
.read-more-btn {
  margin-top: 20px;
  padding: 10px 12px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 15px;
}
}
